.blog_body {
  background-color: var(--primary-color);
  font-family: var(--secondary-font-family);
  color: #ffffff;
  width: 750px;
  max-height: 90vh;
  overflow-y: auto;
  .custom__container{
    margin-top: 0 !important;
  }
  .custom__row{
width: auto;
padding: 0 !important;
  }
  .model__close_btn{
    top: 0px;
    float: right;
  }
  
}
