.agents__container {
  // margin-bottom: 50px;
  padding: 0px !important;
  .agents__section__title {
    font-family: var(--primary-font-family);
    font-size: 24px;
    font-weight: var(--lato-bold);
    margin-bottom: 20px;
    padding: 0px 12px;
  }
  .agents__card__container {
    width: 100%;
    margin: 0px;
    .agents__card__block {
    }
  }
}

.agent-slider .slick-next:before, .agent-slider .slick-next:after {
  border-right: 2px solid #FFF;
  content: '';
  display: block;
  height: 15px;
  margin-top: -10px;
  position: absolute;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 13px;
  // top: 50%;
  width: 0;
  color: #FFF;
}
.agent-slider .slick-next:after{
  margin-top: -1px;
  transform: rotate(45deg);
}
.agent-slider .slick-prev:before, .agent-slider .slick-prev:after {
  border-right: 2px solid #FFF;
  content: '';
  display: block;
  height: 15px;
  margin-top: -10px;
  position: absolute;
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  right: 13px;
  // top: 50%;
  width: 0;
  color: #FFF;
}
.agent-slider .slick-prev:after {
  margin-top: -1px;
  transform: rotate(310deg);
}