.properties__main__container {
  margin-top: 50px;
  padding: 0px !important;
  .properties__title {
    font-family: var(--primary-font-family);
    font-size: 24px;
    font-weight: var(--lato-bold);
    margin-bottom: 20px;
    padding: 0px 12px;
  }
  .properties__container {
    width: 100%;
    margin: 0px;
    .properties__block {
      // width: 100%;
    }
  }
  .view__more__button__block {
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    .view__more__button {
      font-size: 18px;
      padding: 0px 0px;
      text-decoration: underline;
      font-weight: var(--lato-bold);
      color: var(--secondary-color);
      background: none;
      border-radius: 6px;
      margin: 0px 0px 0px 20px;
      outline: none;
      border: none;
    }
  }
}
